@{
    ViewData["Title"] = "Home Page";
}

<div id="alert-message" class="card position-fixed bottom-0 m-2 shadow-sm p-3" style="z-index: 1000; right: 0;" >
    <span id="alert-message-text" class="text-dark"></span>
</div>

<main class="container position-relative">
    <div class="mb-4 rounded text-body-emphasis bg-secondary">
        <img class="img-fluid" src="~/assets/banner.jpg" />
    </div>

    <div class="row mb-2">
        <div class="col-md-12">
            <h3 class="d-inline-block text-primary-emphasis">Todos os livros</h3>
            <hr />
        </div>
        @foreach (Book book in Model.Books) {

            <div class="col-md-6">
                <div class="row g-0 border rounded overflow-hidden flex-md-row mb-4 shadow-sm h-md-250 position-relative" style="flex-wrap:wrap-reverse!important">
                    <div class="col p-4 d-flex flex-column position-static">
                        <h2 class="d-inline-block fs-4 mb-2 text-primary-emphasis">@book.Title</h2>
                        <span><strong class="mb-0" style="margin-right: 12px">@book.Author</strong>@book.Year</span>
                        <p class="card-text mt-auto">Comprar esse livro te da acesso ao link de download da versão em PDF.</p>
                        <a onclick="addBookOnBasket('@book.Id.ToString()', '@Model.Basket.Username')" class="btn app-bg-primary text-white" role="button">
                            <strong>R$ @book.Price</strong>
                        </a>
                    </div>
                    <div class="col-auto d-lg-block">
                        <img class="img-thumbnail" style="max-height: 250px!important" width="200" height="250" src="@Url.Content(book.PreviewUrl)" />
                    </div>
                </div>
            </div>
        }
    </div>
</main>