@page
@using PucBookStore.Models;
@model PucBookStore.Areas.Identity.Pages.Account.IndexModel
@{
}

<div class="container">
    <div class="row mb-2">
        <div class="col-md-12">
            <h3 class="d-inline-block text-primary-emphasis">Meus livros</h3>
            <hr />
        </div>

        @foreach (UserBook book in Model.UserBooks) {

            <div class="col-md-6">
                <div class="row g-0 border rounded overflow-hidden flex-md-row mb-4 shadow-sm h-md-250 position-relative">
                    <div class="col p-4 d-flex flex-column position-static">
                        <h2 class="d-inline-block fs-4 mb-2 text-primary-emphasis">@book.Title</h2>
                        <span><strong class="mb-0" style="margin-right: 12px">@book.Author</strong>@book.Year</span>
                        <p class="card-text mt-auto">Comprar esse livro te da acesso ao link de download da versão em PDF.</p>
                        <a href="@book.DownloadUrl" class="btn app-bg-primary text-white" role="button">
                            <strong>Baixar PDF</strong>
                        </a>
                    </div>
                    <div class="col-auto d-lg-block">
                        <img class="img-thumbnail" style="max-height: 250px!important" width="200" height="250" src="@Url.Content(book.PreviewUrl)" />
                    </div>
                </div>
            </div>
        }
        
    </div>
</div>